/* الأساسيات */
:root {
    /* Primary Colors */
    --primary-color: #1280f66a; /* Main theme color */
    --primary-dark: #2930b9; /* Darker shade of primary */
    --primary-light: #d6eaf8; /* Lighter shade of primary */

    /* Secondary Colors */
    --secondary-color: #2ecc71; /* Success green */
    --secondary-dark: #27ae60; /* Darker green */
    --secondary-light: #e9f7ef; /* Lighter green */

    /* Error Colors */
    --error-color: #e74c3c; /* Error red */
    --error-dark: #c0392b; /* Darker red */

    /* Neutral Colors */
    --background-color: #f4f6f8; /* Light background */
    --text-color: #40a6da; /* Main text color */
    --text-muted: #7f8c8d; /* Muted text */
    --white: #ffffff; /* White */

    /* Shadows */
    --box-shadow: rgba(0, 0, 0, 0.15);
    --box-shadow-hover: rgba(0, 0, 0, 0.2);
}

/* تطبيق الألوان على العناصر */
body {
    font-family: 'Arial', sans-serif;
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--text-color);
}

h1 {
    color: linear-gradient(to right, var(--primary-color), var(--primary-dark));;
    text-align: center;
    margin-top: 50px;
    font-size: 36px;
}

h2 {
    color: var(--primary-color);
    font-weight: bolder;
    font-size: 24px;
    text-align: center;
}

/* تنسيق النموذج لعرض الحقول في صف واحد */
form {
    background-color: var(--white);
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 16px var(--box-shadow);
    width: 100%;
    max-width: 900px;
    margin: 30px auto;
}

.form-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.form-row label {
    width: 20%;
    font-weight: bold;
    color: var(--text-color);
}

.form-row input {
    width: 65%;
    padding: 14px;
    border-radius: 8px;
    border: 1px solid #ccc;
    background-color: #fafafa;
}

button {
    background: linear-gradient(45deg, var(--primary-color), var(--primary-dark));
    color: var(--white);
    padding: 14px 30px;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    box-shadow: 0 5px 15px var(--box-shadow);
    transition: all 0.3s ease;
}
button:hover {
    background: linear-gradient(45deg, var(--primary-dark), var(--primary-color));
    transform: translateY(-2px);
}


/* تحسين تنسيق المعلومات */
p {
    font-size: 18px;
    color: var(--text-muted);
    font-weight: bold;
    text-align: center;
    margin: 0 0 30px 0;
}

/* النموذج */
body {
    background: linear-gradient(to right, #505455, #0b0b0b);
    font-family: 'Roboto', sans-serif;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
    max-width: 800px;
    margin: 0 auto;
    background: linear-gradient(to right, #131212, #c5bebe85);
    padding: 30px;
    border-radius: 18px;
    box-shadow: 0 10px 15px var(--box-shadow);
}

.form-row {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
}

.form-group {
    flex: 1;
    min-width: 200px;
}

label {
    display: inline-flexbox;
    margin-bottom: 22px;
    font-size: 17px;
    font-weight: 600;
    color: linear-gradient(to right, #131212, #f6f7f9);
    transition: all 0.3s ease;
}

label:hover {
    color: var(--primary-color);
}

input {
    width: 70%;
    padding: 10px;
    margin-top: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input:hover {
    border-color: var(--primary-color);
    box-shadow: 0 0 5px rgba(3, 138, 227, 0.5);
}
input::placeholder {
    color: #aaa;
    font-style: italic;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: var(--secondary-color);
    color: var(--white);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
    align-self: center;
}

button:hover {
    background-color: var(--secondary-dark);
}

/* استجابة الهاتف المحمول */
@media (max-width: 600px) {
    h1 {
        font-size: 32px;
    }

    p {
        font-size: 16px;
    }

    form {
        padding: 20px;
    }

    form input[type="number"], 
    form input[type="text"], 
    form button {
        font-size: 16px;
    }
}

/* حاوية النتيجة */
.result-container, .error-container {
    background: linear-gradient(to right, #505455, #0b0b0b);
    padding: 40px;
    border-radius: 16px;
    box-shadow: 0 10px 20px #0000001a;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 40%;
    max-width: 600px; /* Ensure card doesn't exceed 600px */
    margin: 0 auto; /* Center horizontally */
}

/* تأثير التحويم للحاويتين */
.result-container:hover, .error-container:hover {
    transform: scale(1.05);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
}

/* عنوان النتيجة */
.result-container h2 {
    color: var(--primary-color); /* Secondary Color */
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

/* تحسين تنسيق حالة النتيجة */
.status {
    margin: 20px 0;
    text-align: center;
}

.status span {
    font-weight: bold;
    font-size: 20px;
}

.status .positive {
    color: var(--error-color); /* Using error color for positive state */
}

.status .negative {
    color: var(--secondary-color); /* Using secondary color for negative state */
}

/* الحاوية الرئيسية التي تحتوي على كل العناصر */
.div-container {
    display: flex; /* Ensures that elements are properly aligned */
    justify-content: center; /* Centers the container horizontally */
    align-items: center; /* Vertically centers content */
    flex-direction: column; /* Stack the content vertically */
    height: 100vh; /* Make sure the container takes full height of the viewport */
}

/* تحسين تنسيق المعلومات الطبيعية */
.normal-range {
    background-color: var(--primary-light);
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 8px;
    font-size: 16px;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

.normal-range strong {
    font-size: 18px;
    color: var(--text-color);
}

.normal-range:hover {
    background-color: var(--primary-color);
}

/* الرابط "Go Back" */
a {
    display: inline-block;
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    color: var(--primary-color);
    text-decoration: none;
    padding: 10px 20px;
    background-color: var(--white);
    border: 2px solid var(--primary-color);
    border-radius: 8px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

a:hover {
    background-color: var(--primary-color);
    color: var(--white);
}

/* تنسيق الحاوية الخاصة بالخطأ */
.error-container {
    background-color: var(--white);
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    margin: 40px auto;
    text-align: center;
    font-size: 18px;
}

/* تنسيق رسالة الخطأ */
.error-container .message {
    font-size: 20px;
    color: var(--error-color);
}

/* تأثير الحاوية الخاصة بالخطأ عند التحويم */
.error-container:hover {
    transform: scale(1.02);
}


/* استجابة للأجهزة المحمولة */
@media (max-width: 600px) {
    .result-container {
        padding: 20px;
    }

    .result-container h2 {
        font-size: 22px;
    }

    .status span {
        font-size: 18px;
    }

    .normal-range {
        font-size: 14px;
    }

    .error-container {
        padding: 20px;
    }

    .error-container .message {
        font-size: 18px;
    }

    a {
        font-size: 16px;
    }
}
