<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heart Health Prediction Form</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Heart Health Prediction Form</h1>
    <h2>Patient Info:</h2>
    <p>Name: {{ name }}</p>
    <p>Age: {{ age }}</p>
    <p>Gender: {{ gender }}</p>
    <form action="/predict" method="POST">
        <input type="hidden" name="name" value="{{ name }}">
        <input type="hidden" name="Age" value="{{ age }}">
        <input type="hidden" name="Sex" value="{{ gender }}">

        <div class="form-row">
            <div class="form-group">
                <label for="ChestPainType">Chest Pain Type:</label>
                <input type="number" name="ChestPainType" required>
            </div>
            <div class="form-group">
                <label for="RestingBP">Resting Blood Pressure:</label>
                <input type="number" name="RestingBP" required>
            </div>
            <div class="form-group">
                <label for="Cholesterol">Cholesterol:</label>
                <input type="number" name="Cholesterol" required>
            </div>
        </div>

        <div class="form-row">

            <div class="form-group">
                <label for="FastingBS">Fasting Blood Sugar:</label>
                <input type="number" name="FastingBS" required>
            </div>
            <div class="form-group">
                <label for="RestingECG">Resting Electrocardiographic:</label>
                <input type="number" name="RestingECG" required>
            </div>
            <div class="form-group">
                <label for="MaxHR">Maximum Heart Rate Achieved:</label>
                <input type="number" name="MaxHR" required>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group">
                <label for="ExerciseAngina">Exercise Induced Angina:</label>
                <input type="number" name="ExerciseAngina" required>
            </div>
            <div class="form-group">
                <label for="Oldpeak">Old Peak:</label>
                <input type="text" name="Oldpeak" required>
            </div>
            <div class="form-group">
                <label for="ST_Slope">Slope of Peak Exercise ST Segment:</label>
                <input type="number" name="ST_Slope" required>
            </div>

        </div>
        <button type="submit">Predict</button>

    </form>
</body>
</html>
